<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soul Establisment</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">

    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
</head>
<body class="frame">

<!-- nav link -->
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand" href="index.html"><img height="45px" width="40px" src="../static/images/main-Logo.png"></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="first_time_visitor_registration.html">Register First Timer</a></li>
            <li class="nav-item"><a class="nav-link" href="follow_up_assignment.html">Follow-Up Assignment</a></li>
            <li class="nav-item"><a class="nav-link" href="follow_up_tracking.html">Follow-Up Tracking</a></li>
            <li class="nav-item"><a class="nav-link" href="home_cell_management.html">Home Cell Management</a></li>
            <li class="nav-item"><a class="nav-link" href="service_unit_management.html">Service Unit Management</a></li>
            <li class="nav-item"><a class="nav-link" href="reports.html">Reports</a></li>

        </ul>
    </div>
</nav>


<br>

<div class="navbar center-block ml-auto">
    <img src="../static/images/main-Logo.png" style="height: 200px;" alt="Logo" class="centered-image">
</div>
</div>

<div class="row">
    <div class="center-block" style="width:200px;background-color:#ccc;">
        <img src="../static/images/main-Logo.png" style="height: 200px;" alt="Logo" class="centered-image">
  
    </div>
 </div>




<footer class="navbar-light bg-primary">
     <div class="container">
            <p>&copy; 2023 SOUL ESTABLISHMENT</p>
	        <P>Salvation Ministries</p>
    </div>      
</footer>


<!-- <footer>
    
    HELLO
</footer> -->

</body>
</html>


