<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="footer.css">
    <title>Soul Establishment</title>
</head>
<body>
    <div class="login-container">
        <h1>Soul Estalishment</h1>
        <div class="input-container">
            <label for="username">Username</label>
            <input type="text" id="username" placeholder="Enter your username">
        </div>
        <div class="input-container">
            <label for="password">Password</label>
            <input type="password" id="password" placeholder="Enter your password">
        </div>
        <button class="btn" onclick="login()">Log In</button>
    </div>
    <script src="script.js"></script>
    <footer>
	    <p>Salvation Ministries</p>
    </footer>
</body>
</html>

